
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yokyo Game Registration System</title>
    <style>
        form {
            background-color: rgba(9,35,47,0.5);
            max-width: 630px;
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 12%
        }

        th {
            font-size: 30px;
        }

        td {
            font-size: 20px;
        }

        body {
            background-image: url("1.jpg");
        }
    </style>
</head>
<body>


    <div>
        @using (Html.BeginForm())
        {
            <div> <h1>Login</h1></div>

            <table cellpadding="30">
                <tr>
                    <td>UserName:</td>
                    <td><input type="text" name="UserName" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="Password" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Login" /></td>
                </tr>
            </table>
        }
    </div>

</body>
</html>
