@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")


<div>
    <img src="~/images/1.jpg" />
    <style>
        div {
            min-height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>

</div>